<div class="signup-page">
  <form ng-submit="signupSubmit()" method="post">
      <label>Username
      <br>
    <input ng-model="username" type="text" name="name" autofocus="on" required></label>
      <br>
      <label>Email
      <br>
    <input ng-model="email" type="text" name="name" required></label>
      <br>
      <label>First Name
      <br>
    <input ng-model="first_name" type="text" name="name" required></label>
      <br>
      <label>Last Name
      <br>
    <input ng-model="last_name" type="text" name="name" required></label>
      <br>
      <label>Password
      <br>
    <input ng-model="password" type="password" name="name" required></label>
      <br>
      <label>Confirm Password
      <br>
    <input ng-model="password_confirm" type="password" name="name" required></label>
    <div ng-show="password !== password_confirm" class="alert alert-danger">
      <p>
        Passwords don't match!
      </p>
    </div>
      <br>
      <div ng-show="unmatchedPW" class="alert alert-danger">
        <p>
          Please correct the password errors!
        </p>
      </div>
      <span ng-hide="password !== password_confirm"><input type="submit" name="name" value="Sign Up"></span>

  </form>

</div>
