<form ng-submit="signupSubmit()" method="post">
    <label>Username
    <br>
  <input ng-model="username" type="text" name="name" value=""></label>
    <br>
    <label>Email
    <br>
  <input ng-model="email" type="text" name="name" value=""></label>
    <br>
    <label>First Name
    <br>
  <input ng-model="first_name" type="text" name="name" value=""></label>
    <br>
    <label>Last Name
    <br>
  <input ng-model="last_name" type="text" name="name" value=""></label>
    <br>
    <label>Password
    <br>
  <input ng-model="password" type="password" name="name" value=""></label>
    <br>
    <label>Confirm Password
    <br>
  <input ng-model="password_confirm" type="password" name="name" value=""></label>
    <br>
    <input type="submit" name="name" value="Sign Up">
</form>
